@using Memory.Entities.Concrete.Dtos;

@model List<NotebookDto>

<table>

    <thead>

          <tr>
               <th>Başlık</th>
               <th>İçerik</th>
               <th>Fiyat</th>
               <th>Adet</th>
          </tr>


    </thead>

    <tbody>
           @foreach (var item in Model)
          {
           
              <tr>
                
                  <a href="/Notebook/Detail/@item.Id">

                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>

                </a>

             </tr>

         }
        


    </tbody>




</table>